*{
    box-sizing:border-box;
}
 
body{
    font-family: Arial, Helvetica, sans-serif;
}

nav, main, footer{
    margin: 1em 0;
}


nav.navigation{
    display:flex;
    flex-direction: row;
    padding:4px;
}


main{
    display: flex;
    padding:4px;
}


footer{
    display: flex;
    padding:4px;
}


/*<Nav> Star*/

/*logo style Start*/
.navigation_logo_top{
    width:50%;
    padding-left:1em;
}

.navigation_logo_top img{
    width:7em;
    height:4em;
}
/*Logot style End*/


    /*Contact us style Start*/
.navigation_contact_us{
    width: 50%; 
    padding-right:1em;
}

.navigation_contact_us h1{
    float: right;
    border-bottom: 4px solid #EB5B25;
}
    /*Contact us style End*/

/* <Nav> End */



/* <main> Start*/
.container_main{
    border:6px solid #EB5B25;
    border-radius: 20px;
    background-color: #EB5B25;
    width:100%;
    padding:5px;
}

.fName, .lName, .Email, .Phone, .Textarea, .Fileinput label{
    display: flex;
    flex-direction: column;
}

.form input{
    outline:none;
    border:none;
    height:35px;   
}

textarea{
    height:100px;
}

input[type="text"], input[type="email"], input[type="phone"], textarea{
    border-radius: 12px;
}

label{
    padding: 15px 0px 5px 0 ;
}

.fName{
    border: 2px solid yellow;
}
.lName{
    border: 2px solid yellow;
}

.Email{
    border: 2px solid yellow;
}

.Phone{
    border: 2px solid yellow;
}

.Textarea{
    border: 2px solid yellow;
    width: 100%;
}


/*input fileinput*/
.fileinput{
    padding-top:20px;
  
  }
  input[type="file"]{
      height:80px;
     
  }

  input[type=file]::file-selector-button{
      height:40px;
      width: 100px;
      background-color:#194866;
      border:#194866;
      color:#ffffff;
      border-radius:12px;
      transition: 1s;
      cursor:pointer;
  }
  
  input[type=file]::file-selector-button:hover{
      background-color:#e7e7e7;
      border: 1px solid #e7e7e7;
      color:#000000;
  }
/* input fileinput end*/


/* input submit*/
.Send{
    float:right;
}

input[value="Send"]{
    font-size: 25px;
}

input[type="submit"]{
    background-color: #194866;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width:120px;
    height:60px;
}

input[type=submit]:hover {
    background-color: #e7e7e7;
    color:#000000;
    transition: 1s;
  }
/* input submit end*/


/*<main> End*/



/*<footer Start*/
.container_footer{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border:6px solid #EB5B25;
    border-radius: 12px;
    background-color: #EB5B25;
    padding:5px;
    width:100%;
}

.footer_email, .footer_phone, .footer_location {
    border: 2px solid white;
    width: 33%;
    color:aliceblue;
    text-align: center;
    font-size: 16px;
    padding: 20px;

}

.footer_email img, .footer_phone img, .footer_location img{
    width:25px;height:25px;
}

a:link, a:visited  {
    text-decoration:none;
    color:white;
}

.footer_email:after, .footer_phone:after, .footer_location:after {
    display:block;
    content: '';
    border-bottom: solid 3px #194866;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }


.footer_email:hover:after, .footer_phone:hover:after, .footer_location:hover:after{
    transform:scaleX(1);
}

.pad{
    padding:20px;
}

/*<footer End>*/